h3.header {
    margin-right: 72px;
    color: green;
}

img.logo {
    position: absolute;
    z-index: 5;
    height: 50px;
    top: 22px;
    right: 10px;
}

.pointer {
	cursor: pointer;
}

.background-blue {
	background-color: #5bc0de;
}

.numeric {
	text-align: right;
}

input.quantity {
    width: 64px;
    max-width: 64px;
}

.center {
    text-align: center;
}