<div class="modal-header">
    <h3 class="modal-title">{{ clientModal.title }}</h3>
</div>
<div class="modal-body">
    <div class="alert alert-{{ alert.type }}" role="alert" ng-repeat="alert in clientModal.alerts">{{ alert.text }}</div>
    <form class="form-horizontal" name="clientForm">
        <div class="form-group">
            <label class="col-sm-3 control-label">Clave:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="name" ng-model="clientModal.key" disabled="disabled">
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Nombre</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="name" ng-model="clientModal.client.name" placeholder="Nombre" maxlength="45" required>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label">Apellido Paterno</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="lastName" ng-model="clientModal.client.last_name" placeholder="Apellido Paterno" maxlength="45" required>
            </div>
        </div>
        <div class="form-group">
            <label for="motherLastName" class="col-sm-3 control-label">Apellido Materno</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="motherLastName" ng-model="clientModal.client.mother_last_name" placeholder="Apellido Materno" maxlength="45" required>
            </div>
        </div>
        <div class="form-group">
            <label for="rfc" class="col-sm-3 control-label">RFC</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="rfc" ng-model="clientModal.client.rfc" placeholder="RFC" minlength="13" maxlength="13" required>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer">
    <button class="btn btn-success" type="button" ng-click="clientModal.save()">Guardar</button>
    <button class="btn btn-default" type="button" ng-click="clientModal.cancel()">Cancelar</button>
</div>
