<div class="modal-header">
    <h3 class="modal-title">Registro de Ventas</h3>
</div>
<div class="modal-body">
    <div class="alert alert-{{ alert.type }}" role="alert" ng-repeat="alert in saleModal.alerts">{{ alert.text }}</div>
    <form class="form-horizontal" name="articleForm" ng-if="!saleModal.monthlyPaymentsSection">
        <div class="form-group">
            <label class="col-sm-10 control-label">Clave:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control numeric" id="name" ng-model="saleModal.key" disabled="disabled">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">Cliente:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="saleModal.selectedClient" ng-change="saleModal.cleanClient()" placeholder="Buscar Cliente..." uib-typeahead="client.key + ' - ' + client.name + ' ' + client.last_name + ' ' + client.mother_last_name for client in saleModal.getClient($viewValue)" typeahead-min-length="3" typeahead-on-select="saleModal.selectClient($item)">
            </div>
            <div class="col-sm-3" ng-if="saleModal.clientRFC">
                <label class="control-label"> RFC: {{ saleModal.clientRFC }}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">Artículo:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="saleModal.selectedArticleText" ng-change="saleModal.cleanArticle()" placeholder="Buscar Artículo..." uib-typeahead="article.description for article in saleModal.getArticle($viewValue)" typeahead-min-length="3" typeahead-on-select="saleModal.selectArticle($item)">
            </div>
            <div>
                <button class="btn btn-default" type="button" ng-click="saleModal.addArticle()"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
        </div>
        <table class="table table-hover">
            <thead class="background-blue">
                <th>Descripción Artículo</th>
                <th>Modelo</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Importe</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="article in saleModal.articles">
                    <td>{{ article.description }}</td>
                    <td>{{ article.model }}</td>
                    <td class="">
                        <input type="number" class="numeric quantity" ng-model="article.quantity" ng-change="saleModal.calculateArticleAmout(article)" min="1" max="{{ article.existence }}">
                    </td>
                    <td class="numeric">{{ article.calculatedPrice.toFixed(2) }}</td>
                    <td class="numeric">{{ article.amount.toFixed(2) }}</td>
                    <td><span class="glyphicon glyphicon-remove pointer pull-right" ng-click="saleModal.removeArticle($index)"></span></td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <label class="col-sm-10 control-label">Enganche:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control numeric" ng-model="saleModal.info.hitch" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-10 control-label">Bonificación Enganche:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control numeric" ng-model="saleModal.info.hitchBonus" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-10 control-label">Total:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control numeric" ng-model="saleModal.info.total" disabled>
            </div>
        </div>
    </form>
    <table class="table table-hover" ng-if="saleModal.monthlyPaymentsSection">
        <thead class="background-blue">
            <th class="center" colspan="5">Abonos Mensuales</th>
        </thead>
        <tbody>
            <tr ng-repeat="term in saleModal.terms">
                <td>{{ term.number }} ABONOS DE</td>
                <td>${{ term.paymentAmount }}</td>
                <td>TOTAL A PAGAR ${{ term.totalPay }}</td>
                <td>SE AHORRA ${{ term.savingAmount }}</td>
                <td><input type="radio" class="pointer" ng-model="saleModal.sale.total" ng-value="term.totalPay"></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer modal-footer">
    <button class="btn btn-success" type="button" ng-click="saleModal.next()" ng-if="!saleModal.monthlyPaymentsSection">Siguiente</button>
    <button class="btn btn-success" type="button" ng-click="saleModal.save()" ng-if="saleModal.monthlyPaymentsSection">Guardar</button>
    <button class="btn btn-default" type="button" ng-click="saleModal.cancel()">Cancelar</button>
</div>
